<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ADDIN_INSTALL_DIR">
            <Component Id="About_SmartProjectEm_ENU.pdf" Guid="{14F042F2-5C8E-4834-A436-FE3D254C4A6F}">
                <File Id="About_SmartProjectEm_ENU.pdf" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\About-SmartProjectEm-ENU.pdf" />
            </Component>
            
            <Component Id="About_SmartProjectEm_RUS.pdf" Guid="{C9E7D19D-B5EB-4860-B10A-E69DCD60DEB0}">
                <File Id="About_SmartProjectEm_RUS.pdf" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\About-SmartProjectEm-RUS.pdf" />
            </Component>
            
            
            
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CG_AboutFiles">
            <ComponentRef Id="About_SmartProjectEm_ENU.pdf" />
            <ComponentRef Id="About_SmartProjectEm_ENU.rtf" />
            <ComponentRef Id="About_SmartProjectEm_RUS.pdf" />
            <ComponentRef Id="About_SmartProjectEm_RUS.rtf" />
            <ComponentRef Id="Projection_Modes_HOR.png" />
            <ComponentRef Id="Projection_Modes_VERT.png" />
        </ComponentGroup>
    </Fragment>
</Wix>