<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ADDIN_INSTALL_DIR">
            <Component Id="Autodesk.SmartProjectEm.Inventor.addin" Guid="{9669EFFE-000F-4B52-9235-70114471A9FB}">
                <File Id="Autodesk.SmartProjectEm.Inventor.addin" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\Autodesk.SmartProjectEm.Inventor.addin" />
            </Component>
            <Component Id="SmartProjectEm.dll" Guid="{AA431CB6-FAEA-4783-A24B-5CC17D8C26BE}">
                <File Id="SmartProjectEm.dll" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\SmartProjectEm.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CG_AddInFiles">
            <ComponentRef Id="Autodesk.SmartProjectEm.Inventor.addin" />
            <ComponentRef Id="SmartProjectEm.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>