<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="About_SmartProjectEm_ENU.pdf" Guid="{A4A2FE92-F012-4EA1-95AF-EB04C04C972B}">
                <File Id="About_SmartProjectEm_ENU.pdf" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\About-SmartProjectEm-ENU.pdf" />
            </Component>
            <Component Id="About_SmartProjectEm_RUS.pdf" Guid="{D10F00CB-C52E-48B7-9E5A-0DACCF3715D8}">
                <File Id="About_SmartProjectEm_RUS.pdf" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\About-SmartProjectEm-RUS.pdf" />
            </Component>
            <Component Id="Autodesk.SmartProjectEm.Inventor.addin" Guid="{0705CE72-CD12-4E59-8BE9-2AAC84AFD4FE}">
                <File Id="Autodesk.SmartProjectEm.Inventor.addin" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\Autodesk.SmartProjectEm.Inventor.addin" />
            </Component>
            <Component Id="SmartProjectEm.dll" Guid="{96EA3F7E-8B0E-41B7-B5F9-63E1E5B75D25}">
                <File Id="SmartProjectEm.dll" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\SmartProjectEm.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CG_AddInFiles">
            <ComponentRef Id="About_SmartProjectEm_ENU.pdf" />
            <ComponentRef Id="About_SmartProjectEm_RUS.pdf" />
            <ComponentRef Id="Autodesk.SmartProjectEm.Inventor.addin" />
            <ComponentRef Id="SmartProjectEm.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>