<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="About_SmartProjectEm_ENU.pdf" Guid="{4677841D-8D90-40CF-894A-06D0EE9BF5EB}">
                <File Id="About_SmartProjectEm_ENU.pdf" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\About-SmartProjectEm-ENU.pdf" />
            </Component>
            <Component Id="About_SmartProjectEm_RUS.pdf" Guid="{CC19419B-355A-41A2-AC8C-B8539897785B}">
                <File Id="About_SmartProjectEm_RUS.pdf" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\About-SmartProjectEm-RUS.pdf" />
            </Component>
            <Component Id="Autodesk.SmartProjectEm.Inventor.addin" Guid="{EA91324E-41DE-4DE4-A56B-FADCBCB1F0E0}">
                <File Id="Autodesk.SmartProjectEm.Inventor.addin" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\Autodesk.SmartProjectEm.Inventor.addin" />
            </Component>
            <Component Id="SmartProjectEm.dll" Guid="{672697B7-4FFD-477C-B32A-CCCF260272B1}">
                <File Id="SmartProjectEm.dll" KeyPath="yes" Source="$(var.SmartProjectEm.TargetDir)\SmartProjectEm.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CG_AddInFiles">
            <ComponentRef Id="About_SmartProjectEm_ENU.pdf" />
            <ComponentRef Id="About_SmartProjectEm_RUS.pdf" />
            <ComponentRef Id="Autodesk.SmartProjectEm.Inventor.addin" />
            <ComponentRef Id="SmartProjectEm.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>