<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="ExitDialog_SmartProjectEm" Width="370" Height="270" Title="!(loc.ExitDialog_Title)">
				<Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTitle)" />
				<Control Id="Description" Type="Text" X="135" Y="70" Width="220" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogDescription)" />
				<Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.ExitDialogBitmap)" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

				<!--Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" /--><!--Disabled="yes"-->
				<Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Text="!(loc.WixUIFinish)" Default="yes"><!--Cancel="no"-->
					<Publish Event="DoAction" Value="SetOpenFilePath_InvApp">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1</Publish>
					<Publish Event="DoAction" Value="LaunchInvApp">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1</Publish>
				</Control>
				<!--Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17"  Text="!(loc.WixUICancel)"/--><!--Disabled="yes"-->

				<Control Id="LaunchInventorOption" Type="CheckBox" X="10" Y="243" Width="170" Height="17" Hidden="no" Property="WIXUI_EXITDIALOGOPTIONALCHECKBOX" CheckBoxValue="[WIXUI_EXITDIALOGOPTIONALCHECKBOX]" Text="[WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT]">
					<!--Condition Action="show">WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT AND NOT Installed</Condition-->
				</Control>
			</Dialog>

			<InstallUISequence>
				<Show Dialog="ExitDialog_SmartProjectEm" OnExit="success" />
			</InstallUISequence>

			<AdminUISequence>
				<Show Dialog="ExitDialog_SmartProjectEm" OnExit="success" />
			</AdminUISequence>
		</UI>
	</Fragment>
</Wix>