<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include Variables.wxi?>
	
	<Product Id="*" 
			 Name="!(loc.ProductName)" 
			 Language="!(loc.LocaleId)" 
			 Codepage="1252" 
			 Version="$(var.ProductVersion)" 
			 Manufacturer="UMA (aka CADman77)"
			 UpgradeCode="4E6D142F-17CB-4E9E-B06E-064F1B526049">
			 <!--Manufacturer="$(var.Manufacturer)"--> 

		<Package Compressed="yes" 
				 Description="!(loc.ProductName)" 
				 InstallerVersion="200" 
				 InstallScope="perMachine" 
				 Languages="!(loc.LocaleId)"
				 Platform="x64" 
				 SummaryCodepage="!(loc.SummaryCodepage)" 
				 Keywords="$(var.ProductVersion)"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<!--<Directory Id="UserTempDir" FileSource="[TempFolder]" >
				<Directory Id="TempAboutFilesDir" Name="SmartProjectEm" />
			</Directory>-->
			<Directory Id="CommonAppDataFolder">
				<Directory Id="Adsk_Folder" Name="Autodesk">
					<Directory Id="AI_Addins_Folder" Name="Inventor Addins">
						<Directory Id="ADDIN_INSTALL_DIR" Name="SmartProjectEm" />
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="MainFeature"
				 Title="SmartProjectEm Add-In"
				 Level="1"
				 Absent="disallow"
				 AllowAdvertise="no">
			<ComponentGroupRef Id="CG_AddInFiles"/>
		</Feature>

		<!--<Feature Id="AboutFiles"
				 Title="About Add-In Files"
				 Level="1"
				 Absent="disallow"
				 AllowAdvertise="no">
			<ComponentGroupRef Id="CG_AboutFiles"/>
		</Feature>-->
		<!--Description="!(loc.MainFtrDescr)"-->

		<Property Id="ADSKINV" Secure="yes">
			<RegistrySearch Id="RS_AdskInv"
							Root="HKCU"
							Key="Software\Autodesk\Inventor\Current Version"
							Name="Registered"
							Type="raw" 
							Win64="yes"/>
		</Property>

		<Condition Message="This application requires Autodesk Inventor. Please install the Autodesk Inventor then run this installer again.">
				<![CDATA[Installed OR ADSKINV]]>
		</Condition>

		<Property Id="ADSKINVEXEPATH" Secure="yes">
			<RegistrySearch Id="RS_AdskInvExePath"
							Root="HKCU"
							Key="Software\Autodesk\Inventor\Current Version"
							Name="Executable"
							Type="raw"
							Win64="yes"/>
		</Property>

		<!--<Property Id="ADSKINV2" Secure="yes">
			<RegistrySearch Id="RS_AdskInv2"
							Root="HKCU"
							Key="Software\Autodesk\Inventor\Current Version"
							Name="LastVersionRun"
							Type="raw" 
							Win64="yes"/>
		</Property>-->
		
		<UI>
			<!--<UIRef Id="WixUI_Minimal"/>-->
			<!--<UIRef Id="WixUI_Minimal_SmartProjectEm"/>-->
			<!--<UIRef Id="WixUI_FeatureTree"/>-->
			<UIRef Id="WixUI_FeatureTree_SmartProjectEm"/>
			<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.InvLaunchOpt)" />
			<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
		</UI>
		
		
		<ComponentGroup Id="ProductComponents" Directory="ADDIN_INSTALL_DIR">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
		<Property Id="ARPCOMMENTS" Value="!(loc.ARP_COMMENTS)" />
		<Property Id="ARPCONTACT" Value="CADman77@yandex.ru" />
		<Property Id="ARPINSTALLLOCATION" Value="%ProgramData%\Autodesk\Inventor Addins\SmartProjectEm\" />
		<Property Id="ARPPRODUCTICON" Value="AddInIcon" />
		<!--<Property Id="ARPREADME" Value="%ProgramData%\Autodesk\Inventor Addins\SmartProjectEm\About-SmartProjectEm-RUS.pdf" />-->
		<Property Id="ARPREADME" Value="%ProgramData%\Autodesk\Inventor Addins\SmartProjectEm\!(loc.AboutPDF)" />
		<Icon Id="AddInIcon" SourceFile=".\SmartProjectEm-Icon.ico" />

		<WixVariable Id="WixUIBannerBmp" Value=".\SmartProjectEm-Setup-Banner.bmp" />

		<util:CloseApplication Id="CloseInventorExe"
					   PromptToContinue="yes"
					   Target="inventor.exe"
					   RebootPrompt="no"
					   Description="!(loc.InvIsRunningMSG)"/>

		<!--???-->
		
		<!--<Property Id="WixShellExecTarget" Value="C:\_Freelance\My-AI-AddIns\SmartProjectEm\Setup-Project\!(loc.AboutRTF)" />-->
		<!--<Property Id="WixShellExecTarget" Value="C:\_Freelance\My-AI-AddIns\SmartProjectEm\AboutFiles\!(loc.AboutPDF)" />-->

		
		<CustomAction Id="SetOpenFilePath_AboutPDF" Property="WixShellExecTarget" Value="C:\_Freelance\My-AI-AddIns\SmartProjectEm\InvAddIn-Project\!(loc.AboutPDF)" />
		<CustomAction Id="OpenAboutFile" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
	
		
		<!--<CustomAction Id="SetBinaryWrite_TargetFileName_1" Property="BINARYWRITE_TARGETFILENAME" Value="[TempFolder]About-SmartProjectEm-ENU.pdf" />-->



		
		<CustomAction Id="SetOpenFilePath_InvApp" Property="WixShellExecTarget" Value="[ADSKINVEXEPATH]" />
		<CustomAction Id="LaunchInvApp" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

	</Product>
</Wix>
